.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.title{
  flex:0.1;
  color:black;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-height: 10vh;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #DDD;
  border-radius: 2px;
  font-family: "Segoe UI",Serif;
  max-height: 7.7vh;
}
.Body{
  flex:9.9;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: black;
  color: white;
  max-height: 92vh;
  min-width: 600px;
}
.contacts{
  flex:2.5;
  background-color: #FFF;
  overflow: auto;
  min-width: 250px;
}
.contactsHeader{
  color: black;
  height: 42px;
  max-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width : 90%;
  border: 1px solid #EEE;
  border-radius: 20px;
  height: 30px;
}

.contactsHeader input{
  width: 80%;
  height: 20px;
  border:none;
}

.contactsHeader input:focus{
  box-shadow: none;
  outline: none;
}

.chat{
  flex:7.5;
  background-color: white;
  min-width: 350px;
}

.Chathome{
  height:100%;
  color: black;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.Chathome h1,h2{
  margin-bottom: 0;
  font-family: "Segoe UI",Serif;
}
.Chathome img{
  height: 450px;
  width:450px;
}


/*CUSTOM SCROLL BAR*/
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #AAA;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}