.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.title{
  flex:0.1;
  color:black;
  text-align: left;
  margin-left: 20px;
  max-height: 10vh;
}
.Body{
  flex:9.9;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: black;
  color: white;
}
.contacts{
  flex:2;
  background-color: #888;
  max-height: 90vh;
  overflow: auto;
}
.chat{
  flex:8;
  background-color: orange;
}